<html>
  <body>
    
    <div class="reward-div">
        <h3>Why Be A Part Of The Referral Program?</h3>
        <div class= test>
            <div class="logo-section">
                <a
                  href="https://www.flaticon.com/free-icons/wallet"
                  title="wallet icons"
                  ><img src="Assets/wallet.png"
                /></a>
                <p>More Investments,Less Fees</p>
              </div>
              <div class="logo-section">
                <a
                  href="https://www.flaticon.com/free-icons/wallet"
                  title="wallet icons"
                  ><img src="Assets/wallet.png"
                /></a>
                <p>Earn Lucrative Rewards</p>
              </div>
              <div class="logo-section">
                <a
                  href="https://www.flaticon.com/free-icons/wallet"
                  title="wallet icons"
                  ><img src="Assets/wallet.png"
                /></a>
                <p>Save Money via Discounts</p>
              </div>
              <div class="logo-section">
                <a
                  href="https://www.flaticon.com/free-icons/wallet"
                  title="wallet icons"
                  ><img src="Assets/wallet.png"
                /></a>
                <p>Help Friends Make Better <br />Investments Choices</p>
              </div>
              <div class="logo-section">
                <a
                  href="https://www.flaticon.com/free-icons/wallet"
                  title="wallet icons"
                  ><img src="Assets/wallet.png"
                /></a>
                <p>First Transaction Free For Your Referral</p>
              </div>
        </div>
    
    </div>
    <div class="terms-section">
      <p class="invite-para">
        Invite Friends | Earn Rewards | Share The Joy Of Savings
      </p>
      <p>*Terms and conditions apply</p>
      <p>
        Have more questions?<a href="https://www.w3schools.com"></a>
          Click Here To Check out FAQ's</a
        >
      </p>
    </div>
  </body>
</html>
