<html>
  <body>
    <div class="card">
      <h3 class="card-header">Invite your friends</h3>
      <p>Enter Your Email Address (Upto 10 Friends)</p>
      <div class="input-div">
        <input type="text" placeholder="Email Address" />
        <button class="invite-button">Invite</button>
      </div>
      <h3 class="card-header">Or</h3>
      <p>Enter Your Friends Mobile Numbers (Upto 10 Friends)</p>
      <div class="input-div">
        <input type="text" placeholder="Phone Number" />
        <button class="invite-button">Invite</button>
      </div>
      <h3 class="card-header">Share the link with your friends</h3>
      <p>You can also share by copying the link</p>
      <div>
        <input type="text" />
        <button class="copy-button">Copy</button>
      </div>
      <div class="logo-div">
        <img class="logo" src="assets/whatsapp-logo.png" alt="whatsapp-logo" />
        <img class="logo" src="assets/facebook-logo.png" alt="facebook-logo" />
        <img class="logo" src="assets/twitter-logo.png" alt="twitter-logo" />
        <img class="logo" src="assets/linkedin-logo.png" alt="linkedIn-logo" />
      </div>
    </div>
  </body>
</html>
